/* 
.allPokemon {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
  border: 1px solid blue;
}
.pokemonCard{
box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
border-radius: 5px;
padding: 1rem;
cursor: pointer;
}
.pokemonCard:hover{
  transform: translateY(-20px)
}

.pokemonInfo{
  text-align: center;
  border: 1px soild black;
  font-family: 'Chivo Mono', monospace;
} */



@media (min-width: 320px) and (max-width: 575.98px) {
  .allPokemon {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 426px) and (max-width: 768px) {
.allPokemon {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
}
